# Игнорирование виртуального окружения
venv
.venv

# Игнорирование системных файлов Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорирование настроек IDE и локальных файлов
.vscode/
.idea/
.env

# Игнорирование файлов Git
.git
.gitignore
.dockerignore

# Игнорирование локальной базы данных (при её наличии)
*.db
*.db-journal