# Игнорируем виртуальное окружение
venv
.venv

# Игнорируем системные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем настройки IDE и локальные файлы
.vscode/
.idea/
.env

# Игнорируем файлы Git
.git
.gitignore
.dockerignore

# Игнорируем локальную базу данных, если она есть
# На сервере она будет монтироваться как volume
*.db
*.db-journal